body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  gap: 0 !important;
  position: relative;
}

.app-container {
  width: 94vw !important;
  height: 94vh !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -47vh;
  margin-left: -47vw;
  min-width: 700px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn:hover svg {
  fill: #fff !important;
}

div.app-dialog-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.app-dialog {
  width: 30vw;
  min-width: 600px;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  padding: 20px;
}

.app-container .row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
  padding-left: 10px;
  padding-right: 10px;
}

div.modal-content {
  display: flex;
  flex-direction: column;
}

div.modal-content .modal-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

div.settings {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 90vh;
  min-height: 400px;
}

div.settings .shiny-input-textarea {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

div.settings .shiny-input-textarea label {
  flex: 0 1 auto;
}

div.settings .shiny-input-textarea textarea {
  font-size: 0.9em;
  flex: 1 1 auto;
}

div.settings {
  font-size: 0.9em !important;
}

div.settings .form-select,
div.settings .btn {
  font-size: 0.9em !important;
}

div.file-name {
  font-size: 0.8em !important;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  gap: 10px;
}

div.file-name label {
  display: contents;
}

div.file-name div.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 80%;
}

div.account-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

div.title-bar {
  justify-content: space-between;
  align-items: center;
  background-color: #bfc0fd;
  flex: 0 1 50px;
}

div.app-body-container {
  overflow-y: auto;
  display: flex !important;
  flex-direction: column;
  flex: 1 1 auto;
}

div.app-body {
  display: flex !important;
  flex-direction: column;
  height: 80vh;
  min-height: 500px;
}

div.app-body-container .bslib-sidebar-layout {
  margin-bottom: 0;
}

div.app-body-container > div.bslib-sidebar-layout,
div.app-body-container > div.bslib-sidebar-layout > div.main,
div.app-body-container > div.bslib-sidebar-layout > div.main > div.app-body {
  height: 100%;
}

div.input {
  height: fit-content;
  padding-top: 10px;
  background-color: #e0e0f6;
  flex: 0 1 auto;
}

.fa {
  margin: 0 !important;
  color: #6c6c6c;
}

.app-body div.content {
  font-size: 12px;
  overflow-y: auto;
  background-color: #f0f0fa;
  color: #646464;
  flex: 1 1 auto;
  padding: 15px;
}

div.content h1 {
  font-size: 1.75em !important;
  padding-top: 20px;
}

div.content h2 {
  font-size: 1.5em !important;
  padding-top: 10px;
}

div.content h3 {
  font-size: 1.25em !important;
  padding-top: 10px;
}

div.content h4 {
  font-size: 1.15em !important;
  padding-top: 5px;
}

div.content h5 {
  font-size: 1.1em !important;
  padding-top: 5px;
}

div.content h6 {
  font-size: 1.05em !important;
  padding-top: 5px;
}

div.side-bar-docs-container {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

div.side-bar-docs-container .icon {
  width: 20px;
  height: 20px;
}
