# OPENAI
OPENAI_BASE_URL=
OPENAI_API_KEY=

# Database (postgres)
HOST =
USER =
PASSWORD =
PORT =
DATABASE =

# Langchain (optional)
LANGCHAIN_TRACING_V2 =
LANGCHAIN_ENDPOINT =
LANGCHAIN_API_KEY =
LANGCHAIN_PROJECT =