# ----------------------------------------------------
# Settings for AI connection
# ----------------------------------------------------
# AI (Required for content generation)
AI_BASE_URL=<URL to AI service>
AI_API_KEY=<API key for AI service>

# Default AI Model (Can be replaced by the preferred LLM options)
DEFAULT_AI_MODEL='azure-o3'
DEFAULT_AI_TEMPERATURE=0
DEFAULT_AI_INSTRUCTIONS=''

# ----------------------------------------------------
# Settings for content generation (Default)
# ----------------------------------------------------

# Maximum number of tokens allowed for previous contents summary of a section
NUM_TOKENS_SUMMARY = 500

# Number of tokens allowed in the context of a single LLM call
MAX_CONTEXT_TOKENS = 2000 

# Maximum number of keyphrases to extract for RAG and Literature Search 
# from analyzing the previous contents summary and the current content header.
MAX_KEYPHRASES = 10 
MAX_KEYPHRASES_LIT_SEARCH = 5

# Maximum number of articles allowed for literature search
NUM_MAX_LITERATURE = 2

# Maximum number of content allowed from each article returned by the literature search
MAX_CONTENT_SIZE_PER_LITERATURE = 20000

# Similarity metric and threshold for retrieving relevant documents from the vector database (ChromaDB) for RAG and Literature Search
SIMILARITY_METRIC = 'similarity_score_threshold'
SIMILARITY_THRESHOLD = 0.3

# Maximum number of relevant documents to retrieve from the vector database (ChromaDB) for RAG and Literature Search
NUM_DOCS_MAX = 5

# ----------------------------------------------------
# Databases (For custom installation)
# ----------------------------------------------------
# ChromaDB (Required for RAG pipeline)
CHROMA_HOST=<Host for ChromaDB>
CHROMA_PORT=<Port for ChromaDB>

# PostgreSQL Database (Required for backend storage)
DB_HOST=<Database host>
DB_USER=<Database user>
DB_PASSWORD=<Database password>
DB_PORT=<Database port>

# ----------------------------------------------------
# Databases (For installation with Docker)
# ----------------------------------------------------
# ChromaDB (Required for RAG pipeline)
CHROMA_HOST=chroma
CHROMA_PORT=8000

# PostgreSQL Database (Required for backend storage)
DB_HOST=postgres
DB_USER=postgres
DB_PASSWORD=root
DB_PORT=5432
POSTGRES_DB=discourse2draft-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

# ----------------------------------------------------
# Other settings (Optional)
# ----------------------------------------------------
# Langfuse (Optional, used for debugging)
LANGFUSE_SECRET_KEY=<Secret key for Langfuse>
LANGFUSE_PUBLIC_KEY=<Public key for Langfuse>
LANGFUSE_HOST=<URL to Langfuse instance>
LANGFUSE_TRACING=<Enable tracing in Langfuse, set to True or False>

# NCBI (Optional, required for access of higher number of articles from PubMed)
NCBI_API_KEY=<NCBI API key>

# Mail service (Mailgun) (Optional, required for password retrieval during authentication)
MAILGUN_DOMAIN=<Mailgun domain>
MAILGUN_API_KEY=<Mailgun API key>

# Login with azure (Optional)
AZURE_AUTH_APPLICATION_CLIENT_ID = 
AZURE_AUTH_CLIENT_SECRET = 
AZURE_AUTH_TENANT_ID = 
AZURE_AUTH_REDIRECT_URI = 
AZURE_AUTH_LOGIN_BUTTON_LABEL = 'Login with Azure credentials'

# ----------------------------------------------------------------
# Maintainer account email addresses (Comma separated, Optional, 
# required for debugging and analyze logs)
# ----------------------------------------------------------------
APP_MAINTAINER_EMAILS="amlanaccount@gmail.com,amlan.talukder@nih.gov"
