body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  gap: 0 !important;
  position: relative;
}

.app-container {
  width: 94vw !important;
  height: 94vh !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -47vh;
  margin-left: -47vw;
  min-width: 700px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app-container .row {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
  padding-left: 10px;
  padding-right: 10px;
}
.app-container * {
  font-family: inherit !important;
}

.btn:hover svg {
  fill: #fff !important;
}

div.app-dialog-container {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.app-dialog-container div.app-dialog {
  width: 30vw;
  min-width: 600px;
  max-width: 800px;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  padding: 20px;
}

div.modal-content {
  display: flex;
  flex-direction: column;
}
div.modal-content .modal-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

div.settings {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 90vh;
  min-height: 400px;
  font-size: 0.9em !important;
}
div.settings .form-select,
div.settings .btn {
  font-size: 0.9em !important;
}
div.settings .shiny-input-textarea {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
div.settings .shiny-input-textarea label {
  flex: 0 1 auto;
}
div.settings .shiny-input-textarea textarea {
  font-size: 0.9em;
  flex: 1 1 auto;
}

div.file-name {
  font-size: 0.8em !important;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  gap: 10px;
}
div.file-name label {
  display: contents;
}
div.file-name div.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  height: 80%;
}

div.account-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

div.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bfc0fd;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

div.name-bar {
  justify-content: space-between;
  align-items: center;
  background-color: #cccdff;
  flex: 0 1 auto;
}

div.app-body-container {
  overflow-y: auto;
  display: flex !important;
  flex-direction: column;
  flex: 1 1 auto;
}

div.app-body {
  display: flex !important;
  flex-direction: column;
  height: 100%;
}

div.app-body-container .bslib-sidebar-layout {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
}
div.app-body-container > div.bslib-sidebar-layout,
div.app-body-container > div.bslib-sidebar-layout > div.main {
  height: 100%;
}
div.app-body-container > div.bslib-sidebar-layout > div.main {
  display: flex;
  flex-direction: column;
  padding: 0;
}
div.app-body-container div.app-body div.content-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
div.app-body-container div.app-body div.content-container div.content,
div.app-body-container div.app-body div.content-container div.content-header {
  font-size: 12px;
  overflow-y: auto;
  color: #646464;
  padding: 15px;
}
div.app-body-container div.app-body div.content-container div.content-header {
  background-color: #e7e7f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.app-body-container div.app-body div.content-container div.content-header .form-group {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 0;
  min-height: 0;
}
div.app-body-container div.app-body div.content-container div.content-header .form-group > * {
  min-height: 0;
  margin: 0;
}
div.app-body-container div.app-body div.content-container div.content-header .text-link {
  font-family: inherit !important;
  color: #3a3df4;
  cursor: pointer;
}
div.app-body-container div.app-body div.content-container div.content {
  background-color: #ffffff;
  flex: 1 1 auto;
  height: 100px;
}
div.app-body-container div.app-body div.content-container div.content h1 {
  padding-top: 20px;
}
div.app-body-container div.app-body div.content-container div.content h2 {
  padding-top: 10px;
}
div.app-body-container div.app-body div.content-container div.content h3 {
  padding-top: 10px;
}
div.app-body-container div.app-body div.content-container div.content h4 {
  padding-top: 5px;
}
div.app-body-container div.app-body div.content-container div.content h5 {
  padding-top: 5px;
}
div.app-body-container div.app-body div.content-container div.content h6 {
  padding-top: 5px;
}
div.app-body-container div.app-body div.content-container div.content p {
  padding: 5px;
}
div.app-body-container div.app-body div.content-container div.content p.highlight-with-color {
  background-color: #d3d3e9;
}
div.app-body-container div.app-body div.content-container div.content p.highlight-with-border {
  border: 1px dotted #646464;
}

div.input {
  background-color: #e0e0f6;
  flex: 0 1 auto;
}

.fa {
  margin: 0 !important;
  color: #6c6c6c;
}

div.outline h1 {
  font-size: 1.75em !important;
}
div.outline h2 {
  font-size: 1.5em !important;
}
div.outline h3 {
  font-size: 1.25em !important;
}
div.outline h4 {
  font-size: 1.15em !important;
}
div.outline h5 {
  font-size: 1.1em !important;
}
div.outline h6 {
  font-size: 1.05em !important;
}

div.flex-rest {
  flex: 1 1 auto;
}

div.outline-manager-container {
  display: flex !important;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  height: 100%;
}
div.outline-manager-container div.outline-manager {
  padding: 10px;
  font-size: 0.8em;
  overflow-y: auto;
  height: 100px;
  flex: 1 1 auto;
}
div.outline-manager-container div.outline-manager h1,
div.outline-manager-container div.outline-manager h2,
div.outline-manager-container div.outline-manager h3,
div.outline-manager-container div.outline-manager h4,
div.outline-manager-container div.outline-manager h5,
div.outline-manager-container div.outline-manager h6,
div.outline-manager-container div.outline-manager p {
  margin: 0;
  padding: 0;
}
div.outline-manager-container div.outline-manager div:has(> div > h1, > div > h2, > div > h3, > div > h4, > div > h5, > div > h6, > div > p, > div > .form-group) {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
}
div.outline-manager-container div.outline-manager div:has(> div > h1) {
  background-color: #f0e5e1;
}
div.outline-manager-container div.outline-manager div:has(> div > h2) {
  background-color: #ecf0d9;
}
div.outline-manager-container div.outline-manager div:has(> div > h3) {
  background-color: #e4f2e3;
}
div.outline-manager-container div.outline-manager div:has(> div > h4) {
  background-color: #dee7ef;
}
div.outline-manager-container div.outline-manager div:has(> div > h5) {
  background-color: #dddfef;
}
div.outline-manager-container div.outline-manager div:has(> div > h6) {
  background-color: #eadbeb;
}
div.outline-manager-container div.outline-manager div:has(> div > p) {
  background-color: #ede9eb;
}
div.outline-manager-container div.outline-manager div:has(> div > p.reserved-for-ai) {
  background-color: #ecdde3;
}
div.outline-manager-container div.outline-manager div > div > .form-group {
  margin: 0;
  width: 100%;
}

div.outline-creator-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #f0f0fa;
}
div.outline-creator-container div.outline-creator-init-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 1 auto;
}
div.outline-creator-container div.outline-creator {
  min-width: 500px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
div.outline-creator-container div.outline-creator div.outline-creator-controls {
  background-color: #e0e0f6;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
div.outline-creator-container div.outline-creator div.outline-creator-content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 20px;
}

div.side-bar-docs-container {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background-color: #f4f4f4;
}
div.side-bar-docs-container .icon {
  width: 20px;
  height: 20px;
}
div.side-bar-docs-container .form-group,
div.side-bar-docs-container .checkbox,
div.side-bar-docs-container label,
div.side-bar-docs-container input {
  margin: 0;
  padding: 0;
  min-height: 0;
}
div.side-bar-docs-container .cut-text {
  width: -moz-fit-content;
  width: fit-content;
}
@media only screen and (max-width: 600px) {
  div.side-bar-docs-container .cut-text {
    max-width: 400px;
  }
}
@media only screen and (min-width: 600px) {
  div.side-bar-docs-container .cut-text {
    max-width: 120px;
  }
}
div.side-bar-docs-container div.doc-container {
  max-height: 50vh;
  overflow-y: auto;
}
div.side-bar-docs-container span.date {
  font-size: 0.8em;
}
div.side-bar-docs-container div.uploaded-file-info-container {
  display: flex;
  gap: 10px;
}

div.app-table-container {
  max-height: 80vh;
  overflow-y: auto;
  padding: 10px;
}

div.app-table {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 0.8em;
}
div.app-table div.app-tr {
  background-color: #eee;
}
div.app-table div.app-td,
div.app-table div.app-th {
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

div.popover-instructions {
  height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.cut-text {
  font-family: inherit !important;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  box-orient: vertical;
  overflow: hidden;
}

div.shiny-image-output {
  width: 100% !important;
  height: inherit !important;
}

div.text-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: auto;
  padding: 20px;
}